{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'css/TK2style.css' %}" rel="stylesheet">
{% endblock %}

{% block navcolor %}navbar-light{% endblock %}
{% block content %}
<div>
    <div class="container p-5">
        <h1>List Artikel</h1>
        
        <div class="container">
            <div class="row p-5">
                <div class="col"></div>
                <div class="col-auto">
                    <a class="btn btn-info" href="{% url 'article:article_add' %}">
                        Tambah Artikel
                    </a>
                </div>
                <div class="col"></div>
            </div>
            
            {% for artikel in artikels %}
            <div class="container p-3">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'article:article_page' id=artikel.id %}"><h2>{{ artikel.artikel }}</h2></a>
                        <div class="container">
                            <p>Penulis: {{ artikel.penulis }}</p>
                            <p>Tanggal Penulisan: {{ artikel.tanggal_penulisan }}</p>
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <a class="btn btn-danger" href="{% url 'article:article_delete' id=artikel.id %}">Hapus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
