{% extends 'base.html' %}

{% block content%}
<div class="dark">
    <div class="container pt-5">
        <h1>{{ artikel.nama }}</h1>
        <div class="container p-5">
            <h3>Penulis: {{ artikel.penulis }}</h3>
            <h3>Tanggal Penulisan: {{ artikel.tanggal_penulisan }}</h3>
            <h3>Deskripsi:</h3> 
            <div class="container">
                <p>{{ artikel.deskripsi }}</p>
            </div>
            <div class="d-flex justify-content-center p-5">
                <a class="btn btn-info" href="{% url 'article:article_list' %}">Back</a>
            </div>
            <hr>
            <form method="POST" class="">{% csrf_token %}
                {% for field in form %}
                <div class="container p-2">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    <div>
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="row p-3">
                    <div class="col-auto my-auto">
                        <button type="submit" class="btn btn-form">Simpan</button>
                    </div>
                </div>
            </form> 
            <h3>Komentar:</h3>
            {% for komentar in list_komentar %}
            <div>
                <h4>{{ komentar.commenter }}</h5>
                <h5>{{ komentar.waktu }}</h5>
                <p>
                    {{ komentar.comment }}
                </p>
                <div class="col-auto my-auto">
                    <a class="btn btn-danger" href="{% url 'komentar:delete_comment' id_artikel=artikel.id id_komentar=komentar.id %}">Hapus Komentar</a>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}
