{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cov19 Relawan</title>

{% endblock meta %}

{% block content %}
 <!-- <h1>Hello, world!</h1>-->
  <div>
  <div class="card" style="padding: 10px">
  	<p><a style="background: transparent; " href="{% url 'relawan:relawan' %}">Relawan</a></p>
  </div>

<div class="card" style="margin-top: 30px !important">
	    	<div class="" style="margin-top: 20px !important"></div>
	    	<div class="">
	    		
	    	<table class="table" id="myTable">
	    		<button><a id="link" href="/formrelawan">Tambah Relawan</a></button>
	    		<thead >
	    		<tr>
	    			<th>Nama</th>
	    			<th>Alamat</th>
	    			<th>Donasi</th>
	    		</tr>
	    		</thead>
			{% if relawans %}
			<tbody>
				{% for relawan in relawans %}
		
				<tr>
					<td>{{ relawan.display_name }}</td>
					<td>{{ relawan.alamat }}</td>
					<td>{{ relawan.donasi }}</td>
						
				</tr>
				
		<br/>
		{% endfor %}
		</tbody>
	{% endif %}
</table>
</div>

	    </div>

</div>

  
    <style type="text/css">
	div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		font-size: 17px;
	}
	.card-body{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		text-align: center;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	p {
		margin: 0px;
		font-size: 17px;
	}

	.pagination {
		position: inherit;
	}

	table {
		font-size: 12px;
	}
	button {
		border: none;
		padding: 10px 10px 10px 10px;
	}


</style>
{% endblock content %}
