{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/TK2style.css' %}">
    
  {% block meta %}
  {% endblock meta %}
</head>

<body>
<nav>
	<ul id="myDIV">
  <li class="myPage">Cov19</li>
 <!-- <li class="links"><a class="bton" href="#kontak">Kontak</a></li>
  <li class="links"><a class="bton" href="#minat">Minat</a></li>-->
  <li class="links"><a class="bton" href="{% url 'article:article_list' %}" id="artikel">Artikel</a></li>
  <li class="links"><a class="bton" href="{% url 'relawan:relawan' %}">Relawan</a></li>
  <li class="links"><a class="bton" href="{% url 'main:home' %}">Beranda</a></li>
</ul>
</nav>
{% block content %}
  {% endblock content %}

<!--<footer>
	<div class="footer">
  <p>@B01_2020</p>
</div>
</footer>-->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>
</body>
  
</html>