{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>B01</title>

{% endblock meta %}

{% block content %}
 <!-- <h1>Hello, world!</h1>-->
  <div>
  <div class="card" style="padding: 10px">
  	<p><a style="background: transparent; " href="{% url 'main:home' %}">Beranda</a></p>
  </div>

  <div class="card" style="margin-top: 30px;">
  	<div class="card-body">
  		<h2>
  			Kasus Covid di Indonesia
  		</h2>
  	</div>
  	<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>			
					<th>Provinsi</th>
					<th>Kasus Positif</th>
					<th>kasus Sembuh</th>
					<th>kasus Meninggal</th>
				</tr>
			</thead>
			<tbody>
                {% for covid in data %}
				<tr>				
					<td>{{covid.provinsi}}</td>
					<td>{{covid.kasus_positif}}</td>
					<td>{{covid.kasus_sembuh}}</td>
					<td>{{covid.kasus_meninggal}}</td>
                </tr>
                {% endfor %}
			</tbody>
		</table>
  </div>
  </div><br><br>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
			    $('#example').DataTable( {
			        "order": [[ 1, "desc" ]]
			    } );
			} );
    </script>
    <style type="text/css">
	div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		font-size: 12px;
	}
	.card-body{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		text-align: center;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	p {
		margin: 0px;
		font-size: 17px;
	}

	.pagination {
		position: inherit;
	}

	table {
		font-size: 12px;
	}


</style>
{% endblock content %}
